<h1>Password Restoration</h1>
  <form method="POST">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required><br><br>

    <label for="confirmNewPassword">Confirm New Password:</label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required><br><br>

    <input type="submit" value="Submit">
  </form>