<h1>Password Restoration</h1>
  <form action="/restore/{{token}}" method="POST">
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br><br>

    <label for="confirmCurrentPassword">Confirm Current Password:</label>
    <input type="password" id="confirmCurrentPassword" name="confirmCurrentPassword" required><br><br>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required><br><br>

    <label for="confirmNewPassword">Confirm New Password:</label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required><br><br>

    <input type="submit" value="Submit">
  </form>